<?xml version="1.0" encoding="ISO-8859-1" ?>

<!--
	Java Game Framework Global Configuration File
	$Id$
 --> 	

<jgf>

	<!-- Application configuration -->
	<application>
	
		<!-- Name of the application. Will appear in the Window Title and messages. -->
		<name>Java Game Framework: Menu Test</name>
		
		<!-- Application version -->
		<version>1.0</version>
		
		<!-- Network protocol -->
		<networkProtocolVersion>1.0</networkProtocolVersion>
		
		<!-- Debug mode -->
		<debug>true</debug>
		
		<!-- Engine reference -->
		<engine ref="engine" />
		
	</application>
	
	<!-- 
		Engine Component
	 -->
	<service id="engine" class="net.jgf.jme.engine.JMEEngine">

		<!-- Enable jME collection of rendering statistics -->
		<collectStats>${application/debug}</collectStats>

		<!-- Service reference to the Logic Manager -->
		<logicManager ref="logic" />
		
		<!-- Service reference to the State Manager -->
		<viewManager ref="view" />
		
	</service>
	
	<!-- 
		Logic Manager
	 -->
	<service id="logic" class="net.jgf.logic.DefaultLogicManager">
	
		<logic id="logic/root" class="net.jgf.logic.LogicStateNode">
			
			<logic id="logic/action/quit" class="net.jgf.logic.action.QuitAction" />
			
			<logic id="logic/action/newgame" class="net.jgf.logic.action.QuitAction" >
				
			</logic>
			
		</logic>
		
	</service>
	
	<!-- 
		State Manager
	 -->
	<service id="view" class="net.jgf.view.DefaultViewManager" depends="engine">
		
		<view id="view/root" class="net.jgf.view.ViewStateNode">
			
			<!-- Background sample scene -->
			<view id="view/root/box" class="net.jgf.example.box.BoxView"
				autoLoad="true" autoActivate="true" >
			</view>
			
			<view id="view/root/main/menu" class="net.jgf.jme.view.menu.DefaultMenuView"
						autoLoad="true" autoActivate="true" >

				<initialMenu ref="menu/main" />
				<lookAndFeel id="view/root/main/menu/laf" class="net.jgf.jme.view.menu.DefaultMenuLookAndFeel" >
					<origin>-0.3 0.4 0.0</origin>
					<size>0.1</size>
					<font>Verdana PLAIN 48</font>
					<align>Center</align>
				</lookAndFeel>
			</view>
							
		</view>
			
	</service>
	
	<!-- 
		Menu System
	 -->
	<service id="menu" class="net.jgf.menu.DefaultMenuSystem">

		<menu id="menu/main" class="net.jgf.menu.DefaultMenu">
			
			<item id="menu/main/title" class="net.jgf.menu.items.TitleMenuItem">
				<key>Main Menu</key>
			</item>
			<item id="menu/main/subtitle" class="net.jgf.menu.items.LabelMenuItem">
				<key>It's time to make a choice</key>
			</item>
			
			
			<item id="menu/main/sep01" class="net.jgf.menu.items.SeparatorMenuItem" />
			<item id="menu/main/newgame" class="net.jgf.menu.items.ScreenLinkMenuItem">
				<key>New Game</key>
				<target ref="menu/newgame" />
			</item>
			<item id="menu/main/settings" class="net.jgf.menu.items.ScreenLinkMenuItem">
				<key>Settings</key>
				<target ref="menu/newgame" />
			</item>
			<item id="menu/main/quit" class="net.jgf.menu.items.ActionMenuItem">
				<key>Quit</key>
				<action ref="logic/action/quit" />
			</item>
		</menu>

		<menu id="menu/newgame" class="net.jgf.menu.DefaultMenu">
			
			<cancelItem ref="menu/newgame/back" />
		
			<item id="menu/newgame/title" class="net.jgf.menu.items.TitleMenuItem">
				<key>New Game</key>
			</item>
			
			<item id="menu/newgame/sep01" class="net.jgf.menu.items.SeparatorMenuItem" />
			<item id="menu/newgame/option1" class="net.jgf.menu.items.ActionMenuItem">
				<key>3 Player</key>
				<action ref="logic/action/newgame" />
			</item>
			<item id="menu/newgame/option2" class="net.jgf.menu.items.ActionMenuItem">
				<key>7 Players</key>
				<action ref="logic/action/newgame" />
			</item>
			<item id="menu/newgame/back" class="net.jgf.menu.items.ScreenLinkMenuItem">
				<key>Back</key>
				<target ref="menu/main" />
			</item>			
		</menu>
		
	</service>		
	
</jgf>
 


